# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.python-version

# Data
data/
pymaftools/

# Tools (binaries, not tracked)
tools/gdc-client
tools/*.zip

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


deprecated/